<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <h2 class="mt-3">New Book</h2>
        <%= form_with model: Book.new do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :opinion %>
          <%= f.text_area :opinion %>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
      </div>
    </div>
  </div>
</main>